.edit-organizer__name {
    font-weight: 400;
    border: 1px solid #777;
    padding: 0.5rem;
    margin-left: 0.5rem;
}

.edit-organizer__btn_save {
    background-color: #388e3c;
}

.edit-organizer__btn_cancel {
    background-color: #d32f2f;
}